{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="starter-template">

      <h1>Download your training plan!</h1>

      {% if plan_name %}
      <h3>"{{ plan_name }}"</h3>
      {% endif %}

      <p>Choose from the following formats:</p>

      <ul>
      {% for plan in plans %}
          <li><a href="{{ plan.url }}">{{ plan.type }}</a></li>
      {% endfor %}
      </ul>

      <p>Enjoy!</p>

      <p><a href="{% url 'plans' %}">Design another plan</a>.</p>

    </div>
</div>
{% endblock %}
