container_commands:
  01_migrate:
    command: "django-admin.py migrate --no-input"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  - namespace: "aws:elasticbeanstalk:application:environment"
    option_name: DJANGO_SETTINGS_MODULE
    value: runblueprint.settings
  - namespace: "aws:elasticbeanstalk:container:python"
    option_name: WSGIPath
    value: runblueprint/wsgi.py
  - namespace: "aws:elasticbeanstalk:container:python:staticfiles"
    option_name: /favicon.ico
    value: static/favicon.ico
  - namespace: "aws:elasticbeanstalk:container:python:staticfiles"
    option_name: "/static/"
    value: static/
  - namespace: "aws:elasticbeanstalk:container:python:staticfiles"
    option_name: /media/
    value: media/
