<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Runblueprint</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'plans' %}">Plans</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% else %}
        <li><a href="{% url 'account' %}">Hello, {{ user }}</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
